    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td><%= question.user_id %></td>
        <td><%= question.question_id %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
