<div id="color_intro ">
<div class="col-sm-12 col-xs-12 col-md-12 banner ">
  <section class="cd-intro">
  	<div class="cd-intro-content bouncy">
  		<h1>WikINpédia!</h1>
  		<p>Não adianta possuir conhecimento se não souber administrá-lo</p>
  	</div>
  	</div>
  </section>
  <section class="col-sm-8 col-xs-12 col-md-8 posts">
    <div class='btn_criaPost'> <%= link_to 'Criar Post', new_article_path %> </div>
      <% @articles.each do |article| %>
    <div class=post>
      <p class='nome_user'><%= link_to article.user.name, article.user %></p></br>
      <p class='article_date'><%= article.created_at %></p>
      <a href="articles/<%= article.id %>"> <h2><%= article.title %></h2> </a>
        <p> <% texto= article.content %> </p>
        <p> <%conteudo=texto.slice(0,200)%> </p>
        <p> <%=raw conteudo + "..." %></p>
    </div>
    <% end %>
    <% if params[:search] %>
      <% if @questions2.blank? || @articles.blank? %>
          <h2>SUA BUSCA NÃO RETORNOU RESULTADOS, TENTE NOVAMENTE</h2>
      <% end %>
      <% @questions2.each do |question| %>
    <div class=post>
      <p class='nome_user'><%= link_to question.user.name, question.user %></p></br>
      <p class='question_date'><%= question.created_at %></p>
      <a href="questions/<%= question.id %>"> <h2><%= question.title %></h2> </a>
        <p> <% texto= question.content %> </p>
        <p> <%conteudo=texto.slice(0,200)%> </p>
        <p> <%=raw conteudo + "..." %></p>
    </div>
    <% end %>
    <% end %>
  </section>
  <section class="col-sm-4 col-xs-12 col-md-4">
    <div class=lateral> 
      <div class='titulo'>
        <h2>Últimas Perguntas</h2> 
      </div>
        <% @questions.each do |question| %>

      <div class='pergunta'>
          <p class='nome_user'><%= link_to question.user.name, question.user %></p><br>
          <p class='article_date'><%= question.created_at %></p>
          <br>
          <div class='titulo_questao'>
            <a><%= link_to question.title, question %></a>
          </div>

      </div>
        <% end %>

    </div>
  </section>
  <section class="col-sm-12 col-xs-12 col-md-12">
    <%= paginate @articles %>
  </section>
