<div class="col-sm-12 col-xs-12 col-md-12 home">
  <div class=banner>
    <h1>Wolfpédia</h1>
  </div>

  <section class="col-sm-4 col-xs-12 col-md-8 posts">
    <% @articles.each do |article| %>
    <div class=post>
      <p class='nome_user'><%= link_to article.user.name, article.user %></p></br>
      <p class='article_date'><%= article.created_at %></p>
      <a href="articles/<%= article.id %>"> <h2><%= article.title %></h2> </a>
      <div class=img> <img src="images/image.png"> </div>
      <p> <%= article.content %> </p>
    </div>
    
    <% end %>
    <%= paginate @articles %>
    
  </section>
  <section class="col-sm-4 col-xs-12 col-md-4">
    <div class=lateral> MAIS COMENTADAS,PARTE DO FORUM, ETC </div>
  </section>
</div>
