<%= form_for(article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class='na_titulo'><%= f.label :Título %></div>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.cktext_area :content %>
  </div>


  <div class="field">
    <div class='na_tags'><%= f.label :Tags %></div>
    <%= f.text_field :tags %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
