<div class="col-sm-12 col-xs-12 col-md-12 list_articles">

<p id="notice"><%= notice %></p>
  <div class=nu_title>
    <h1>Artigos</h1>
  </div>
<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Conteúdo</th>
      <th>Hora do post</th>
      <th>Última Edição</th>
      <th>Tags</th>
      <th>Usuário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= raw article.title %></td>
        <td><%= raw article.content %></td>
        <td><p class='article_date'><%= article.created_at %></p></td>
        <td><p class='article_date'><%= article.updated_at %></p></td>
        <td><%= article.tags %></td>
        <td><%= article.user.name %></td>
        <td><%= link_to 'Mostrar', article %></td>
        <td><%= link_to 'Editar', edit_article_path(article) %></td>
        <td><%= link_to 'Excluir', article, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
</div>