<p id="notice"><%= notice %></p>

<div class="col-xs-12 col-sm-12 col-md-12 geral_article">

<div class="col-md-12 personal_article">
    <div class='article-user'>
      <p><i>
        <strong>User:</strong>
        <%= @article.user_id %>
      </i></p>
    </div>
    <div class='article_title'
      <h2>
        <b><%= @article.title %></b>
      </h2>
    </div>
    
    <div class='article_content'
      <p>
        <%= raw @article.content %>
      </p>
    </div>
    
    <div class='article_tags'
      <p>
        <strong>Tags:</strong>
        <%= @article.tags %>
      </p>
    </div>
</div>

<div class='coments'>
  <p> Comentários: </p>
</div>
<% @comments.each do |comment| %>
    <%= comment.content %>
    <%= comment.user.name %>
    <%= comment.article_id %>
<% end %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</div>