<p id="notice"><%= notice %></p>


<div clas="col-md-6 personal_article">
    <p><i>
      <strong>User:</strong>
      <%= @article.user_id %>
    </i></p>
    
    <h2>
      <strong>Title:</strong>
      <%= @article.title %>
    </h2>
    
    <p>
      <strong>Content:</strong>
      <%= @article.content %>
    </p>
    
    <p><b>
      <strong>Tags:</strong>
      <%= @article.tags %>
    </b></p>

</div>

<h2> Comentários </h2>

<% @comments.each do |comment| %>
    <%= comment.content %>
    <%= comment.user.name %>
    <%= comment.article_id %>
<% end %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
