<%= form_for(comment_article) do |f| %>
  <% if comment_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment_article.errors.count, "error") %> prohibited this comment_article from being saved:</h2>

      <ul>
      <% comment_article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article_id %>
    <%= f.number_field :article_id %>
  </div>

  <div class="field">
    <%= f.label :comment_id %>
    <%= f.number_field :comment_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
