<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-sm-8 col-xs-8 col-md-8 label_new_user">

    <%= f.label :name %><br>

    <%= f.label :email %><br>

    <%= f.label :password %><br>
    
    <%= f.label :description %><br>
 
    <%= f.label :admin %><br>
  
  </div>
  <div clas='col-sm-4 col-xs-4 col-md-4 fields_user'>
    <%= f.text_field :name %><br>
    
    <%= f.text_field :email, pattern: '[a-zA-Z]{1,20}\.[a-zA-Z]{1,20}@injunior\.com\.br$' %><br>

    <%= f.password_field :password %><br>
    
    <%= f.text_area :description %><br>
    
    <%= f.check_box :admin %><br>
    
    <%= f.submit %><br>
    
  </div>
<% end %>
