<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class=" col-xs-5 col-sm-5 col-md-5 label_new_user">
    <div class=right>

      <p><%= f.label :nome %>
  
      <p><%= f.label :email %>
  
      <p><%= f.label :senha %>
      
      <p><%= f.label :descrição %>
   
      <p><%= f.label :admin %>
    </div>  
  
  </div>
  <div class='col-xs-7 col-sm-7 col-md-7 fields_user'>
      <p><%= f.text_field :name %>
      
      <p><%= f.text_field :email, pattern: '[a-zA-Z]{1,20}\.[a-zA-Z]{1,20}@injunior\.com\.br$' %>
  
      <p><%= f.password_field :password %>
      
      <p><%= f.text_area :description %>
      
      <p><%= f.check_box :admin %>
      
      <%= f.submit %>
  </div>
<% end %>
