<div class="col-sm-12 col-xs-12 col-md-12 list_users">

<p id="notice"><%= notice %></p>
  <div class=nu_title>
    <h1>Usuários</h1>
  </div>

<table>
  <thead>
    <tr>
<!----<th>Password digest</th>--->
      <th>E-mail</th>
      <th>Nome</th>
      <th>Admin</th>
  <!--<th>Membro desde:</th>-->
      <th>Ultimo acesso</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
<!--        <td><%= user.password %></td>-->
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.admin %></td>
        <td><%= user.last_time %></td>
        <td><%= user.description %></td>
        <td><%= link_to 'Mostrar', user %>
        <%= link_to 'Editar', edit_user_path(user) %>
        <%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <div class=new_usr>
    <%= link_to 'Novo Usuário', new_user_path %>
  </div>
</div>