<p id="notice"><%= notice %></p>

<body>

<div></div>
<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Last time:</strong>
  <%= @user.last_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</body>
