<p id="notice"><%= notice %></p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>
<body>
di  
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Member since:</strong>
  <%= @user.member_since %>
</p>

<p>
  <strong>Last time:</strong>
  <%= @user.last_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>
</body>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
