<div class="col-sm-12 col-xs-12 col-md-12 list_questions">

<p id="notice"><%= notice %></p>

  <div class=nu_title>
    <h1>Questões</h1>
  </div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Post time</th>
      <th>Last edit</th>
      <th>Tags</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.content %></td>
        <td><%= question.tags %></td>
        <td><%= question.user.name %></td>
        <td><%= link_to 'Show', question %>
          <%= link_to 'Edit', edit_question_path(question) %>
          <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class=new_quest>
  <%= link_to 'New Question', new_question_path %>
</div>
</div>