<div class="col-sm-12 col-xs-12 col-md-12 questions_show">

  <p id="notice"><%= notice %></p>
  <div class='question-user'>
      <p> <%= @question.user.name %></p>
        <%= @question.updated_at %>
  </div>
  <div class='question_title'>

       <h2> <%= @question.title %></h2>
      </p>
  </div>
    <div class='question_content'>

        <%= raw @question.content %>
  </div>
    <div class='question_tags'

      <p>
        <strong>Tags:</strong>
        <%= @question.tags %>
      </p>
     </div> 
     <div class='btn_criaQuest'> <%= link_to 'Responder', new_answer_path %> </div>    
    
    <div class='btnEdit'>
      <%= link_to 'Editar', edit_question_path(@question) %> 
    </div>
    
     <div class='quest_respostas'>
        <h3>Respostas</h3>
      </div>
      
      <% @answers.each do |answer| %>
        <%=raw answer.content %>
        <%= answer.user_id %>
        <%= answer.question_id %>
      <% end %>

  <%= link_to 'Voltar', questions_path %>
</div>