<p id="notice"><%= notice %></p>
    
    
    
    <p>
      <strong>User:</strong>
      <%= @question.user_id %>
    </p>
    
    <p>
      <strong>Title:</strong>
      <%= @question.title %>
    </p>
    
      <strong>Content:</strong>
      <%= raw @question.content %>

    <p>
      <strong>Tags:</strong>
      <%= @question.tags %>
    </p>
    
    <h3>Respostas</h3>
    
    <% @answers.each do |answer| %>
      <%=raw answer.content %>
      <%= answer.user_id %>
      <%= answer.question_id %>
    <% end %>
    <div class='btn_criaPost'> <%= link_to 'Responder', new_answer_path %> </div>    
<%= link_to 'Editar', edit_question_path(@question) %> |
<%= link_to 'Voltar', questions_path %>
