<section class="col-sm-12 col-xs-12 col-md-5 commentshow">

    <p id="notice"><%= notice %></p>
    
    <p>
      <%= @comment.content %>
    </p>
    
    <p>
      <%= @comment.user_id %>
    </p>
    
    <p>
      <strong>Article:</strong>
      <%= @comment.article_id %>
    </p>
  
  <%= link_to 'Editar', edit_comment_path(@comment) %> |
  <div class='link_voltar'>
  <%= link_to 'Voltar', comments_path %>
  </div>
</div>